@media (max-width: 750px) { /* ⬇️⬇️⬇️ BEGIN WRAPPING ⬇️⬇️⬇️ */

/* ℹ️ SIDEBAR ✅ Hide to make space */
#app>div>div>div>div>header {
    flex: 0 0 0;
    max-width: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

/* ℹ️ CHAT-LIST'S TABLIST ✅ Hide to make space */
#app>div>div>div>div>div>div>div[role="tablist"] {
    visibility: hidden;
    height: 0px;
    padding: 0px;
}

/* ℹ️ NO-CHAT-SELECTED (+children) ✅ Hide to make space */
#app>div>div>div>div>div:has(div>div>div>span[data-icon*="start"]),
#app>div>div>div>div>div:has(div>div>div>span[data-icon*="start"]) * {
    width: 0;
    visibility: hidden;
}

/* ℹ️ EMOJI-PANEL ✅ Fill (prevent overflow) */
#expressions-panel-container>span>div {
    left: 0px !important;
    max-width: 100vw;
}

/* ℹ️ EMOJI-LIST ✅ Allow horizontal scroll */
#expressions-panel-container>span>div>ul>div>div>div>div>div>div>div {
    overflow-x: auto;
}

/* ℹ️ PANELS ✅ Set properties */
#app>div>div>div>div>div>div:has(>div:only-child>span:only-child) {
    margin: 0;
    border: 0;
    flex: 0;
}

/* ℹ️ LEFT-PANEL when CHAT is CLOSED ✅ Expand */
#app:not(:has(#main))>div>div>div>div>div>div:has(>div:only-child>span:only-child):first-child {
    flex: 1;
    min-width: 100vw;
}

/* ℹ️ RIGHT-PANEL when CHAT is OPEN  ✅ Expand */
#app:has(#main)>div>div>div>div>div>div:has(>div:only-child>span:only-child):nth-child(2) {
    flex: 1;
    width: 100vw;
}

/* ℹ️ MAIN-HEADER when CHAT is OPEN ✅ Hide */
#app:has(#main)>div>div>div>div>div>header>header {
    visibility: hidden;
}

/* ℹ️ INFO-PANEL (1stline singles, 2ndline groups) ✅ Fix width */
#app>div>div>div>div>div:has(span>div>span>div>div),
#app>div>div>div>div>div:has(span>div>span>div[aria-label*="Info"]) {
    width: calc(100vw - 10pt);
    max-width: calc(100vw - 10pt);
    left: 10pt;
}

/* ℹ️ CHAT-GRANDPARENT ✅ Prevent extra space with 'fit-content' */
#app>div>div>div>div:has(div>#side) {
    min-width: fit-content;
    max-width: 100vw;
}

/* ℹ️ CHAT-PARENT ✅ Hide unwanted spacer */
#app>div>div>div>div>div:has(#side) {
    min-width: 0;
    max-width: 0;
}

/* ℹ️ CHAT-LIST (2 els) when CHAT-OPEN doesn't exist ✅ Fill space */
#app:not(:has(#main))>div>div>div>div>div>header,
#app:not(:has(#main))>div>div>div>div>div>#side {
    width: 100vw;
    visibility: visible;
}

/* ℹ️ USE-HERE ✅ Fix pos and width */
#app>div>div>div:nth-child(2)>div>div>div {
    position: absolute !important;
    left: 0px !important;
    max-width: 100vw;
}

/* ℹ️ SEND-FILE-PANEL (text field) ✅ Fix padding */
#app>div>div>div>div>div>div>div>span>div>div>div>div>div>div>div>div:has(div>div[class*="input"]) {
    margin: 0;
}

/* ℹ️ SEND-FILE-PANEL (file preview) ✅ Fix padding */
#app>div>div>div>div>div>div>div>span>div>div>div>div>div>div>div>div:has(div>span[data-icon*="preview"]) {
    padding: 20pt 0;
    width: 100vw;
}

/* ℹ️ SEND-IMAGE-PANEL (text field) ✅ Fix padding */
#app>div>div>div>div>div>div>div>span>div>div>div>div>div>div>div>div>div {
    margin: 0 2pt;
}

/* ℹ️ SEND-IMAGE-TOOLBAR ✅ Make scrollable */
#app>div>div>div>div>div>div>div>span>div>div>div>div>div>div>div {
    overflow-x: scroll;
    scrollbar-width: none;
}

} /* ⬆️⬆️⬆️ END WRAPPING ⬆️⬆️⬆️ */